body{
  background-color: black;
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  transition: backgroung-color 0.5s ease;
}
.add-button{
  background-color:hsl(125, 47%, 54%);
}
.add-button:hover{
  background-color:hsl(125, 47%, 44%);
}
.delete-button{
  background-color:hsl(0, 67%, 50%);
}
.delete-button:hover{
  background-color:hsl(0, 67%, 40%);
}
.move-button{
  background-color:hsl(241, 73%, 63%);
}
.move-button:hover{
  background-color:hsl(241, 87%, 28%);
}

input[type="text"]{
  padding: 10px;
  font-size: 1.7rem;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: black;
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
  background-color: aliceblue;
  margin-bottom: 10px;
  border: 3px solid  hsla(0, 11%, 89%, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
.text-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.no-task{
  
}